body {
  background: radial-gradient(#7ccbf1, #ffffff);
  font-family: monospace;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
}

img {
  padding: 10px
}

img:hover {
  transform: scale(1.4);
  transition: all ls;
}

.container {
  position: absolute;
  top: 50%
  left: 50%
  transform: translate(-50%, -50%);
  min-height: 400px
}
